﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <title>Index</title>

    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="card">
        <div class="card-body">
            <div class="container">
                <div id="warning-date" style="display: none;">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                <h3 class="h3">Uwaga!</h3> Data do nie może być mniejsza od Daty od
                                <button type="button" class="close" onclick="$('#warning-date').hide()" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="col-form-label">
                            Data od:
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div id="datepicker-group-1" class="input-group date" data-provide="datepicker">
                                    <input type="text" id="date-group-1" class="form-control">
                                    <div class="input-group-addon"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="col-form-label">
                            Data do:
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div id="datepicker-group-2" class="input-group date" data-provide="datepicker">
                                    <input type="text" id="date-group-2" class="form-control">
                                    <div class="input-group-addon"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-6">
                        <br />
                        <button type="button" id="getGoldPriceButton" class="btn btn-primary">Pobierz</button>
                    </div>
                </div>

                <br />
                <br />

                <div id="result" style="display: none;">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-3">
                                    Sortowanie:
                                    <div class="row">
                                        <div class="col-md-12">
                                            <form>
                                                Data rosnąco <input type="radio" name="sortradio" checked="checked" id="sortradio1" /><br />
                                                Data malejąco <input type="radio" name="sortradio" id="sortradio2" /><br />
                                                Cena rosnąco <input type="radio" name="sortradio" id="sortradio3" /><br />
                                                Cena malejąco <input type="radio" name="sortradio" id="sortradio4" /><br />
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div id="gold-table">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Data</th>
                                                    <th scope="col">Cena</th>
                                                </tr>
                                            </thead>
                                            <tbody id="gold-table-body"></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="offset-md-3 col-md-6">
                                    <div id="gold-table-info"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer ">
        <footer class="blockquote">
            <p class="text-center" style="display: block; font-size: 80%;color: #6c757d;">&copy; Copyright - @DateTime.Now.Year - Radosław Nowak</p>
        </footer>
    </div>
    <div>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/mainsite")
    </div>
</body>
</html>
